/*
By: Inguanez Remy
For: https://github.com/remy-inguanez/

Sections:
1. General
2. Navigation Bar
3. About
4. Project Info
5. Footer
6. Media Sizing
7. Icons
*/

/*------------------ 1. General ------------------*/
html {
	height: 100%;
	width: 100%;
}

body {
	background-color: #fff;
	font-family: 'Lato', sans-serif;
	color: #616161;
}
a {
    color: #007adf;
}
section#home {
    background-image: linear-gradient( #007adf 0%, #00ecbc 100%);
    color: #fff;
}

section#projects {
    background-color: #f1f1f1;
}

footer#contact {
    color: #fff;
    background-image: linear-gradient(to top, #007adf 0%, #00ecbc 100%);
}

h3#title {
    /* color: #58c4ea; */
    letter-spacing: 4px;
    font-weight: 300;
}

hr#hrTitle {
    border: 2px solid #00ecbc;
    background-image: linear-gradient(to top, #007adf 0%, #00ecbc 100%);
    margin: 0 40vw 0 40vw;
}

/*------------------ 2. Navigation Bar ------------------*/
a#navbile {
    color: #007adf;
    font-size: 20px;
}

.navbar, .navbarP {
    color: #007adf;
}

.navbarP {
    box-shadow: 0 0 0 0 #007adf;
}

#navP {
    color: #fff;
}

.navbar {
    padding-top: 10px;
}

nav.custom2 {
    background-color: rgba(0, 0, 0, 0.4) !important;
}

nav ul a {
    color: #616161;
}

.table-of-contents a:hover {
    border-left: 2px solid #00ecbc;
}

.table-of-contents a.active {
    border-left: 8px solid #00ecbc;
}

li#menucontact {
    padding-left: 14px;
}

/*------------------ 3. About ------------------*/
img#pic {
    width: 90%;
    border-radius: 55px; /* propriété CSS3 */
    -moz-border-radius: 65px; /* compatibilité avec Firefox */
    -webkit-border-radius: 65px;
}

p#desc {
    font-size: 6rem;
}

h1#raymond {
    font-weight: 300;
}

span#chung {
    color: #007adf;
    font-weight: 700;
}

h2#sub {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    border: 4px solid #fff;
    padding: 10px;
}

h2#aboutSub {
    font-size: 20px;
    border: 4px solid #fdc424;
    color: #fdc424;
    padding: 10px;
}

.aTop {
    padding: 40px 0 40px 0;
}

/*------------------ 4. Project Info ------------------*/
#pTitle {
    font-weight: 700;
}

#pSubTitle {
    font-style: italic;
    font-size: 1.2rem;
    color: #aab;
}

#space {
    padding-bottom: 40px;
}

hr#hrP {
    border: 1.4px solid #007adf;
    background-color: #007adf;
    margin: 0 32vw 0 32vw;
}

img#portImg, img#blank {
    width: 100%;
}

#menuIcon {
    padding-left: 16px;
}

span#problem {
	font-weight: 700;
	font-style: italic;
	font-size: 1.3em;
}

button#resume {
    font-size: 20px;
    color: #616161;
    background-color: transparent;
    border: 2px solid #616161;
    padding: 10px;
    border-radius: 10px;
    transition: color,border 0.3s ease-out;
}

button#resume:hover {
    color: #007adf;
    border: 2px solid #007adf;
}

div#skills {
    color: #fff;
    background-color: #15c4a1;
    margin-bottom: 4px;
    font-size: 16px;
}

p#aboutSkills {
    font-size: 20px;
    margin-bottom: -1px;
}

#blank:hover {
    opacity: 0.65;
}

.modal {
    width: 80vw;
    /*height: 86vh;*/
    max-height: 88vh;
}

a.proj {
    padding-left: 10px;
}

p#caption {
    color: #aab;
    font-size: 0.9rem;
    font-style: italic;
}

img.imgSpace {
    padding-top: 12px;
    padding-bottom: 12px;
}

/*------------------ 5. Footer ------------------*/
.v-section {
    padding-top: 1rem;
    padding-bottom: 0.1rem;
}

#copyright {
    color: rgba(255, 255, 255, 0.4);
}

/*------------------ 6. Media Sizing ------------------*/


    section#projects {
        padding-top: 40px;
    }

    h2#sub {
        font-size: 24px;
    }

    h2#aboutSub {
        font-size: 24px;
    }

    hr#hrTitle {
        margin: 0 45vw 0 45vw !important;
    }

    img#pic {
        width: 80%;
    }

    img#portImg {
        width: auto;
        max-width: 100%;
    }

    p#desc {
        font-size: 1rem;
    }

@media(min-width: 901px) {
    section#home {
        background-size: 62vw;
        background-position: center 62vh;
    }

    h2#sub {
        margin: 0 200px 0 200px;
    }

    hr#hrTitle {
        margin: 0 47vw 0 47vw !important;
    }

    #iconFix { /* fix this */
        margin-left: -100px;
    }
}

@media(min-width: 1301px) {
    section#home {
        background-position: center 50vh;
    }
}

/*------------------ 7. Icons ------------------*/
.material-icons {
    font-size: 30px;
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    list-style: none;
}

.social-buttons, ul.list-inline.social-buttons, .contact-buttons, ul.list-inline.contact-buttons {
    padding: 0;
    margin-top: 2px;
    margin-bottom: -4px;
}

.social-icons {
    color: transparent;
    font-size: 1.6em;
    border-radius: 200px;
    background-color: rgba(0, 0, 0, 0.12);
}

.contact-icons {
    color: transparent;
    font-size: 1.6em;
    background-color: #313336;
    border-radius: 200px;
}

span.social-icons.fa-stack {
    color: rgba(255, 255, 255, 0.8);
    transition: background-color,color 0.3s ease-in;
}

span.contact-icons.fa-stack {
    margin-top: 4px;
    color: rgba(233, 233, 233, 0.678);
    transition: color,background-color 0.3s ease-in;
}

span.resume.social-icons.fa-stack:hover {
    color: #fff;
    background-color: #2fd107;
}

span.contact-icons.fa-stack:hover {
    color: #fff;
    background-color: #007adf; /* #5dd1e4 as alt*/
}

span.linkedin.social-icons.fa-stack.fa-2x:hover {
    color: #fff;
    background-color: #080bc0;
}

span.github.social-icons.fa-stack.fa-2x:hover {
    color: #fff;
    background-color: #ff449c;
}

span.email.social-icons.fa-stack.fa-2x:hover {
    color: #fff;
    background-color: #FD5959;
}
.copyright {
    color: #fff;
}
