<footer id="contact" class="v-section scrollspy">
      <div class="row center">
        <h4 id="title">LET'S CONNECT</h4>
        <hr id="hrTitle">
        <div class="col s12 m12 l12">
          <ul class="list-inline contact-buttons">
            <li><a href="mailto:{{ site.email }}"><span class="contact-icons fa-stack fa-2x"><i class="fa fa-envelope fa-stack-1.8x"></i></span></a></li>
            <li><a href="https://www.instagram.com/rchung95/"><span class="contact-icons fa-stack fa-2x"><i class="fa fa-instagram fa-stack-1.8x"></i></span></a></li>
            <li><a href="https://ca.linkedin.com/in/raymondchung95"><span class="contact-icons fa-stack fa-2x"><i class="fa fa-linkedin fa-stack-1.8x"></i></span></a></li>
            <li><a href="https://github.com/rchung95"><span class="contact-icons fa-stack fa-2x"><i class="fa fa-github fa-stack-1.8x"></i></span></a></li>
            <li><a href="https://twitter.com/rchung95"><span class="contact-icons fa-stack fa-2x"><i class="fa fa-twitter fa-stack-1.8x"></i></span></a></li>
            <li><a href="https://medium.com/@rchung95"><span class="contact-icons fa-stack fa-2x"><i class="fa fa-medium fa-stack-1.8x"></i></span></a></li>
          </ul>
          <p id="copyright">Created by Raymond Chung &copy 2016</p>
        </div>
      </div>
    </footer>