<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	<meta name="keywords" content="HTML,CSS,JavaScript,HTML5,CSS3,Teaching,Canada,Kingston,Toronto,Raymond,Chung,Soccer,Basketball,Cooking,Swift,UX/UI,Product Designer,Web,Web Developer,San Francisco,New York,Los Angeles,United States,Queen's,Vaughan,Hire,Entrepreneur,Software Design,Conncurent Education,Vancouver,Montreal,Ontario,Raymond Chung,Developer,iOS,Software,Student,Design,Backend,Front-end,Github,Silicon Valley">
	<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

	<!-- CSS -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{{ "/css/font-awesome.min.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" type="text/css" href="{{ "/css/materialize.min.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" type="text/css" href="{{ "/css/index.css" | prepend: site.baseurl }}">

	<!-- Favicon -->
	<link rel="shortcut icon" href="img/favicon.png">
	<!-- For Android and Chrome -->
	<link rel="icon" sizes="192x192" href="img/touch-icon.png">
	<!-- For iPhone 6 Plus -->
	<link rel="apple-touch-icon-precomposed" sizes="180x180" href="img/apple-touch-icon.png">
	<!-- For iPad -->
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="img/apple-touch-icon.png">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon.png">
	<!-- For iPhone -->
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="img/apple-touch-icon.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon.png">
	<!-- For iPad Mini -->
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon.png">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="img/apple-touch-icon.png">
</head>