<div class="navbar">
	<div class="nav-wrapper container">
		<ul id="nav-mobile" class="section table-of-contents side-nav">
			<li><a href="#home">HOME</a></li>
			<li><a href="resume.pdf">RESUME</a></li>
			<li><a href="#about">ABOUT</a></li>
			<li><a href="#projects">PROJECTS</a></li>
			<li><a href="#contact">CONTACT</a></li>
			<li id="menucontact"><i class="fa fa-envelope fa-stack-1.8x"></i> {{ site.email }}</li>
			<li id="menucontact"><i class="fa fa-phone fa-stack-1.8x"></i> 416-712-3147</li>
		</ul>
		<a id='navbile' href="#" data-activates="nav-mobile" class="button-collapse"><i id="iconFix" class="material-icons">menu</i></a>
	</div>
</div>

<section id="home" class="section scrollspy">
	<div class="container">
		<div class="row">
			<div class="col s12 m12 l12 center">
				<h2 id="raymond">RAYMOND CHUNG</h2>
				<h5 id="sub">FRONT-END DEVELOPER</h5>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m12 l12 center">
				<ul class="list-inline social-buttons">
					<li><a href="mailto:{{ site.email }}"><span class="email social-icons fa-stack fa-2x"><i class="fa fa-envelope fa-stack-1.8x"></i></span></a></li>
					<li><a href="https://ca.linkedin.com/in/raymondchung95"><span class="linkedin social-icons fa-stack fa-2x"><i class="fa fa-linkedin fa-stack-1.8x"></i></span></a></li>
					<li><a href="https://github.com/rchung95"><span class="github social-icons fa-stack fa-2x"><i class="fa fa-github fa-stack-1.8x"></i></span></a></li>
					<li><a href="resume.pdf"><span class="resume social-icons fa-stack fa-2x"><i class="fa fa-download fa-stack-1.8x"></i></span></a></li>
				</ul>
			</div>
		</div>
	</div>
</section>